/* ======================================================================================================================
Imports
====================================================================================================================== */

@import 'config';

/* ======================================================================================================================
Medium Grid
====================================================================================================================== */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
.CSHolder .headerBox {
    margin-top: 20px;
}

.logoHolder {
    padding-right: 0;
}
.splashHolder {
    height: 255px;
}
.whatwedoWrapper {
    padding: 20px;
}
// Footer
    ul {
        &.footerLinks {
            width: 90%;
        } 

    }

}
