//@copyright Lea Phillips 15/11/2019
/* ======================================================================================================================
   Imports
   ====================================================================================================================== */

@import 'config'; 

/* ======================================================================================================================
   Small Grid
   ====================================================================================================================== */
 
/*----------- Small only -----------*/
@media screen and (max-width: 39.9375em) {

.CSHolder .headerBox {
    margin-top: 20px;
}

.logoHolder {
    padding-right: 0;
}
.whatwedoWrapper {
    padding: 20px;
}
.panelImg {
    display: flex;
    justify-content: center;
    margin-bottom: 20px
}
.newsBlocHolder {
    margin-bottom: 30px;
}
.newsEventsWrapper,.relatedSitesWrapper {
    padding: 20px;
}
.casestudyWrapper {
    .featuredText {
        display: none;
    }
    .CSHolderTop .headerBox{
        margin-top:20px;
    }
}

.whatwedoWrapper .infoBox {

    min-height: 50px;
    padding-left: 20px;
    padding-right: 20px;
}
.subscribeWrapper {
    min-height: auto;
    padding: 20px;
}

/* ----------- Footer ----------- */
ul.footerLinks {
    width: 100%;
    
}
.footerLinks li {
	flex: 0 0 33.33333%;
  
        a {
			font-size: 86%;
		}
    h2{
        padding:0;
        min-height:50px;
        }
    }


}

